.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  /* -moz-osx-font-smoothing: grayscale; */
  backface-visibility: hidden;
  transform: translateZ(0);
  transition:
   transform 0.25s ease-out,
   opacity 0.2s .05s,
   box-shadow 400ms;
}
.card-container[revealed=false] {
   opacity: 0;
   transform: scale(.9);
}
.card-container[revealed=true] {
   opacity: 1;
   transform: scale(1);
}
.card-container img{
   display: block;
   margin: 0 auto;
   width: 180;
   height: auto;
}

.card-container[revealed=true]:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
